@model CloudScheduler.ViewModels.InstanceListVM

@{
    ViewBag.Title = "Instances";
}

<h2>My instance info</h2>
<div>   
    <table border ="1">
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Elastic Ip</th>
            <th>State</th>
            <th>Current Window</th>
            <th>Schedule</th>
            <th>Actions</th>
        </tr>   
    @foreach (var instance in Model.CurrentInstanceList) {
        <tr> 
            <td>@instance.Name </td>
            <td>@instance.Id </td>
            <td>@if (instance.Schedule.ElasticIp == "")
                {
                    <span>N/A</span>
                }
                else
                {
                    @instance.Schedule.ElasticIp
                }
            </td>
            <td>@instance.State</td>
            <td>
                @instance.Schedule.Days[DateTime.Today.DayOfWeek].ToString()
            </td>
            <td>
                @if (instance.Schedule.IsActive)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>Inactive</span>
                }
            </td>
            <td>
            @if (instance.State == "running")
            {
                @Html.ActionLink("Stop", "StopInstance", new { Id = instance.Id })
            }
            else if (instance.State == "stopped")
            {
                @Html.ActionLink("Start", "StartInstance", new { Id = instance.Id })
            }
            else 
            {
                <span>N/A</span>
            }
             - @Html.ActionLink("Edit", "Edit", new { Id = instance.Id }) - 
                @if (instance.Schedule.IsActive)
                {
                    <span>@Html.ActionLink("Deactivate", "DeactivateSchedule", new { Id = instance.Id })</span>
                }
                else
                {
                    <span>@Html.ActionLink("Activate", "ActivateSchedule", new { Id = instance.Id })</span>
                }
            </td>
        </tr>       
    }</table>
</div>


